
@media (max-width: 768px) {
  .upload-container{
    height: 38vh;
    overflow-y: scroll;
  }
}
.upload-text-area {
    width: 100%;
    max-height: 20vh;
    height: auto;
    resize: none;
    margin-top: 10px;
    font-size: 14px;
    font-family: Consolas, monospace;
    background-color: #323338;
    border: 1px solid black;
    outline: none;
  
    border: 2px solid black;
  }

  .text-area.upload {
    display: flex;
    width: 100%;
    position: static;
  }
  .upload-input-section{
    /* border: solid red 1px; */
    width: 70%;
    margin-bottom: 15px;

  }
  .upload-label{
    color: white;
  }
  .upload-input{
    color: white;
    border-bottom: 1px white solid;
    width: 100%;
  }
  .upload-input:focus {
    outline: none;
    border: none;
    border-bottom: 1px white solid;
    border-radius: 0;
  }
  .submit-button{
    margin-top: 10px;
    width: 40%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 4px;
  }
  .submit-button:hover{
    background-color: rgb(70, 70, 70);
  }
  .back-button{
    width: 50px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 2px;
  }
  .back-button:hover{
    background-color: rgb(70, 70, 70);
  }