.upload-text-area {
    width: 100%;
    max-height: 20vh;
    height: auto;
    resize: none;
    margin-top: 10px;
    font-size: 14px;
    font-family: Consolas, monospace;
    background-color: #323338;
    border: 1px solid black;
    outline: none;
  
    border: 2px solid black;
  }

  .text-area.upload {
    display: flex;
    width: 100%;
    position: static;
  }