body {
    background-color: #282c34;
}

.App {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto; 
}

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    height: 100%;
}

.cube-scene {
    height: 100%;
    overflow: auto;

}

.resizer {
    position: absolute;
    left: -5px; 
    top: 0;
    bottom: 0;
    width: 10px; 
    cursor: ew-resize;
    background:#14161b;
}

.code-editor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #14161b;
    width: 90%;
    height: 100%;
}

.code-editor textarea {
    width: 90%;
    height: 200px;
    resize: none;
    margin-top: 10px;
    font-size: 14px;
    font-family: Consolas, monospace;
    padding: 10px;
    color: white;
    background-color: #343940;
    border: 1px solid black;
    outline: none;
}

.code-editor button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: steelblue;
    color: white;
    border: none;
    cursor: pointer;
}

.tab-button {
    margin-left: 5px;
    margin-right: 5px;
}

.tab-button.button-active {
    background-color: green;
}

.tab-button.button-not-empty {
    background-color: rgb(151, 151, 59);
}

.text-area-container {
    align-items: center;
    justify-content: center;
    position: relative;
    height: 220px;
    width: 90%;
    padding-bottom: 10px;
}

.text-area {
    position: absolute;
    display: none;
}

.text-area.visible {
    display: flex;
}
